In [17]:
import pandas as pd
import os

In [14]:
movie = pd.read_csv("/home/ensai/Documents/MSD/NoSQL/movies.csv")
print(movie.shape)
movie[movie.duplicated()]

(9125, 3)

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [16]:
rating = pd.read_csv("/home/ensai/Documents/MSD/NoSQL/ratings.csv")
print(rating.shape)
rating[rating.duplicated()]

(100004, 4)

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [8]:
print(os.getcwd())

/home/ensai/Documents/MSD/NoSQL/Movie-Recommendation-System